In [2]:
import pandas as pd
pd.set_option('display.max_columns', 500)

In [5]:
df = pd.read_csv('/home/aayushjoshi/ML/projects/weather-prediction-end-to-end/dataset/dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199 entries, 0 to 1198
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    1199 non-null   object
 1   temp    1199 non-null   float64
 2   dwpt    1199 non-null   float64
 3   rhum    1199 non-null   float64
 4   prcp    1199 non-null   float64
 5   snow    0 non-null      float64
 6   wdir    1199 non-null   float64
 7   wspd    1199 non-null   float64
 8   wpgt    0 non-null      float64
 9   pres    1199 non-null   float64
 10  tsun    0 non-null      float64
 11  coco    1199 non-null   float64
dtypes: float64(11), object(1)
memory usage: 112.5+ KB

In [6]:
df.head()

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
0,2024-01-01 00:00:00,9.0,9.0,100.0,0.0,NaN,120.0,6.0,NaN,1019.0,NaN,5.0
1,2024-01-01 01:00:00,9.0,8.1,94.0,0.0,NaN,340.0,6.0,NaN,1019.0,NaN,5.0
2,2024-01-01 02:00:00,8.0,8.0,100.0,0.0,NaN,350.0,7.0,NaN,1020.0,NaN,5.0
3,2024-01-01 03:00:00,8.0,8.0,100.0,0.0,NaN,340.0,6.0,NaN,1020.0,NaN,5.0
4,2024-01-01 04:00:00,10.0,10.0,100.0,0.0,NaN,250.0,6.0,NaN,1020.0,NaN,5.0

In [7]:
df.describe()

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
count,1199.000000,1199.000000,1199.000000,1199.000000,0.0,1199.000000,1199.000000,0.0,1199.000000,0.0,1199.000000
mean,12.017014,6.811843,73.834028,0.034112,NaN,118.418682,6.920350,NaN,1018.212177,NaN,3.821518
std,4.496063,2.873675,20.136678,0.280256,NaN,100.584045,2.196845,NaN,2.210142,NaN,2.139892
min,2.000000,-3.000000,24.000000,0.000000,NaN,3.000000,3.600000,NaN,1010.200000,NaN,1.000000
25%,8.500000,5.000000,59.000000,0.000000,NaN,40.000000,6.000000,NaN,1017.000000,NaN,1.000000
50%,11.400000,7.000000,77.000000,0.000000,NaN,58.000000,6.000000,NaN,1018.200000,NaN,5.000000
75%,15.000000,8.900000,93.000000,0.000000,NaN,209.000000,7.000000,NaN,1019.950000,NaN,5.000000
max,24.000000,15.000000,100.000000,6.000000,NaN,360.000000,22.000000,NaN,1025.000000,NaN,18.000000